main {
  .news-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .news {
      width: 105rem;
      height: auto;

      cursor: pointer;

      background: var(--card);
      padding: 2.5rem;
      box-shadow: 0px 0px 10px 0px #13131f0d;

      border-radius: 5px;
      font-family: 'Lexend Deca', sans-serif;

      margin-top: 5rem;

      p {
        color: var(--text);
        line-height: 3.2rem;
        font-size: 1.8rem;
      }

      h1 {
        color: var(--title);
        font-size: 2.8rem;
        font-weight: 400;

        padding-bottom: 1rem;
      }

      &:first-child {
        margin-top: 10rem;
      }

      &:last-child {
        margin-bottom: 5rem;
      }

      .date-like {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 2rem;

        overflow: hidden;

        span {
          color: var(--span);
          font-size: 1.8rem;
        }

        .like {
          font-size: 2.4rem;
          color: var(--heart);

          cursor: pointer;

          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          &:hover {
            opacity: 50%;
          }
        }
      }
    }
  }
}
